# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#

[defaults]
inventory = inventory/hosts
remote_user = ansible
roles_path = roles
interpreter_python = /usr/bin/python3.12

# [ssh_connection]
# pipelining = True
# Remove defaults requiretty option in /etc/sudoers if use